* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("G1..webp");
  
}

.container {
    background-color:#4f4f4f
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #323131;
}

.registration-form label {
    margin-bottom: 8px;
    display: block;
    color: #dadada;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
}

.registration-form input:focus {
    border-color: #007bff;
    outline: none;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #d4d4d4;
    color:#000000
}